{{ define "event-status-badge" }}
{{ if .Revealed }}
<span class="badge badge-gray">Completed</span>
{{ else if .Closed }}
<span class="badge badge-gray">Waiting for Results</span>
{{ else if .Voting }}
<span class="badge badge-green">Voting Open</span>
{{ else if .Registration }}
<span class="badge badge-blue">Registration Open</span>
{{ else }}
{{ if  gt (len .Jammers) 0 }}
<span class="badge badge-green">In Progress</span>
{{ else }}
<span class="badge badge-gray">Upcoming</span>
{{ end }}
{{ end }}
{{ end }}
