{{ template "head" . }}

{{ $event := .Event }}
<section>
	<div class="event-header-row mb-24">
		<div>
			<h1>{{.Event.Name}}</h1>
			{{ with .Event.Theme }}<div class="theme-accent">{{.}}</div>{{ end }}
		</div>
		<div class="event-action-bar">
			{{ if .VotingOpens }}
			<div>
				<div class="text-small text-muted mb-4">Voting Opens</div>
				{{ template "countdown" .VotingOpens }}
			</div>
			{{ end }}
			{{ if .VotingCloses }}
			<div>
				<div class="text-small text-muted mb-4">Voting Closes</div>
				{{ template "countdown" .VotingCloses }}
			</div>
			{{ end }}
		</div>
	</div>

	{{ with .Event.Info }}
	<div class="card mb-24">
		{{ range (paragraphs .) }}<p>{{.}}</p>{{ end }}
	</div>
	{{ end }}

	{{ if .NotSubmittedTeams }}
	<div class="flashes mb-24">
		<div class="flash">Your team has not submitted a game.</div>
		{{ range .NotSubmittedTeams }}
		<a class="btn btn-outline btn-sm mt-8" href="{{$event.Path "team" .ID}}" title="{{.Name}}">{{ .Name }}</a>
		{{ end }}
	</div>
	{{ end }}

	{{ if (or (not .Event.CanVote) (not (.Event.HasJammer .CurrentUser))) }}
	<div class="flashes mb-24">
		{{if (not .Event.Voting)}}
		<div class="flash">Voting has not yet started.</div>
		{{ else if .Event.Closed }}
		<div class="flash">Voting has closed.</div>
		{{ end }}

		{{ if not .CurrentUser }}
		<div class="flash">You are not signed in.</div>
		{{ else if (not (.Event.HasJammer .CurrentUser))}}
		<div class="flash">You have not been approved for this event.</div>
		{{ end }}
	</div>
	<a class="btn btn-lg btn-secondary disabled" href="#">Start Voting</a>
	{{ else }}
	<a class="btn btn-lg btn-primary" href="{{.Event.Path "fill-queue"}}">Start Voting</a>
	{{ end }}
</section>

{{ template "foot" . }}
