{{ template "head" . }}

<section>
	<div class="section-header">
		<h1>Approved Jammers</h1>
	</div>

	<div class="card">
		<form method="POST">
			{{ $event := .Event }}
			<div class="table-wrap">
				<table>
					<thead>
						<tr>
							<th style="width: 3rem;"></th>
							<th>User</th>
							<th>Email</th>
							<th style="width: 5rem; text-align: center;">Judge</th>
						</tr>
					</thead>
					<tbody>
						{{ range $user := .Users }}
						<tr>
							<td style="text-align: center;">
								<input type="checkbox" class="hidden" name="{{$user.ID}}.Jammer.Start" value="approved" {{ if $event.HasJammer $user }}checked{{ end }}>
								<input type="checkbox" id="{{$user.ID}}" name="{{$user.ID}}.Jammer" value="approved" {{ if $event.HasJammer $user }}checked{{ end }} >
							</td>
							<td>
								<label for="{{$user.ID}}">{{ $user.Name }}</label>
							</td>
							<td>{{ $user.Email }}</td>
							<td style="text-align: center;">
								<input type="checkbox" class="hidden" name="{{$user.ID}}.Judge.Start" value="isjudge" {{ if $event.HasJudge $user }}checked{{ end }}>
								<input type="checkbox" id="{{$user.ID}}" name="{{$user.ID}}.Judge" value="isjudge" {{ if $event.HasJudge $user }}checked{{ end }} >
							</td>
						</tr>
						{{ end }}
					</tbody>
				</table>
			</div>
			<div class="mt-24">
				<input type="submit" value="Update">
			</div>
		</form>
	</div>
</section>

{{ template "foot" . }}
