{{ template "head" . }}

<section>
	<h1>Approved Jammers</h1>
	<form method="POST">
		{{ $event := .Event }}
		<table>
			<thead>
				<tr>
					<th style="width: 2rem;"></th>
					<th>User</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				{{ range $user := .Users }}
				<tr>
					<td style="text-align: center;">
						<input type="checkbox" class="hidden" name="{{$user.ID}}.Start" value="approved" {{ if $event.HasJammer $user }}checked{{ end }}>
						<input type="checkbox" id="{{$user.ID}}" name="{{$user.ID}}" value="approved" {{ if $event.HasJammer $user }}checked{{ end }} >
					</td>
					<td>
						<label class="basic" for="{{$user.ID}}">{{ $user.Name }}</label>
					</td>
					<td>{{ $user.Email }}</td>
				</tr>
				{{ end }}
			</tbody>
		</table>
		<br>
		<input type="submit" value="Update">
	</form>
</section>

{{ template "foot" . }}