{{ template "head" . }}

<section>
	<h1>Create Event</h1>
	<form method="post">
		<div class="field">
			<label for="name">Name [cannot be changed later]</label>
			<input type="text" id="name" name="name" value="{{with .NewEvent}}{{.Name}}{{end}}">
		</div>

		<div class="field">
			<label for="slug">Slug [cannot be changed later]</label>
			<input type="text" id="slug" name="slug" value="{{with .NewEvent}}{{.ID}}{{end}}">
		</div>

		<div class="field">
			<label for="theme">Theme</label>
			<input type="text" id="theme" name="theme" value="{{.Event.Theme}}">
		</div>

		<div class="field">
			<label for="judgePercentage">Percentage of judge votes</label>
			<input type="range" min="0" max="100" step="10" id="judgePercentage" name="judgePercentage" value="0" oninput="(()=>{document.getElementById('judgePercentageInfoText').innerText = `Current percentage: ${document.getElementById('judgePercentage').value}%`})()">
			<p id="judgePercentageInfoText">Current percentage: 0%</p>
		</div>

		<div class="field">
			<label for="info">Info</label>
			<textarea type="text" id="info" name="info" rows=4>{{with .NewEvent}}{{.Info}}{{end}}</textarea>
		</div>

		<fieldset>
			<legend>Dates</legend>

			<div class="field">
				<label for="StartTime">Start Time</label>
				<input type="datetime-local" id="StartTime" name="StartTime">
			</div>

			<div class="field">
				<label for="EndTime">End Time</label>
				<input type="datetime-local" id="EndTime" name="EndTime">
			</div>
		</fieldset>	

		<input type="submit" value="Create">
	</form>
</section>

{{ template "foot" . }}