{{ template "head" . }}

{{ $event := .Event }}
<section>
	<div class="section-header">
		<h1>Linking</h1>
		<a href="{{$event.Path "linking-approve-all"}}" class="btn btn-primary">Approve All</a>
	</div>

	{{ if .Linking }}
	{{ range .Linking }}
	<div class="card mb-16">
		<h2 class="mb-12">{{.Team.Name}}: {{.Team.Game.Name}}</h2>

		{{ if .Unlinked }}
		<h3 class="text-amber mb-8">Unlinked</h3>
		{{ range .Unlinked }}
		<div class="mb-4">"{{.Member.Name}}" to "{{.User.ID}}"</div>
		{{ end }}{{ end }}

		{{ if .Unregistered }}
		<h3 class="text-amber mb-8">Unregistered</h3>
		{{ range .Unregistered }}
		<div class="mb-4">{{.Name}}</div>
		{{ end }}{{ end }}

		{{ if .Unapproved }}
		<h3 class="text-amber mb-8">Unapproved</h3>
		{{ range .Unapproved }}
		<div class="mb-4">{{.Name}}</div>
		{{ end }}{{ end }}
	</div>
	{{ end }}{{ end }}
</section>

{{ template "foot" . }}
