{{ define "countdown" }}
<div id="{{.ID}}" class="timer">
	<div class="timer-col">
		<span class="timer-label">Hours</span>
		<span class="timer-hours">{{printf "%02d" .Hours}}</span>
	</div>
	<div class="timer-col">
		<span class="timer-label">Minutes</span>
		<span class="timer-minutes">{{printf "%02d" .Minutes}}</span>
	</div>
	<div class="timer-col">
		<span class="timer-label">Seconds</span>
		<span class="timer-seconds">{{printf "%02d" .Seconds}}</span>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function() {
		StartCountdown("{{.ID}}", "{{formatRFC .Time}}");
	});
</script>
{{ end }}
