<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Rate {{.Entry.Title}} in {{.Event.Title}}</title>
	<link rel="stylesheet" href="">
	<meta name="google" value="notranslate">
</head>
<body>
	<h1>Rate {{.Entry.Title}} - {{.Event.Title}}</h1>
	<div class="entry">
		<p class="instructions">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque laborum consequuntur sint, officia molestiae illum ipsum dignissimos incidunt ex nulla. Est doloremque molestias numquam dolorum quo nihil, fugit quidem veritatis?</p>
		
		<div class="downloads">
		{{ range .Entry.Downloads }}
		<a class="download" href="{{.URL}}">{{.Title}}</a>
		{{ end }}
		</div>
	</div>

	<form class="rating">
		{{ range .Event.Category }}
		<div class="category">
			<label for="{{.ID}}">{{.Name}}</label>
			<input type="range" min=1 max=5 step=0.01 value=2.5>
			<div class="description"></div>
		</div>
		{{ end }}

		<div class="total">
			<label for="total">Total:</label>
			<input name="total" type="range" min=1 max=5 step=0.01 value=2.5 disabled>
			<br>
			<label for="override">Override</label>
			<input name="override" type="checkbox">
		</div>

		<button>Submit</button>
	</form>
</body>
</html>