{{ define "head" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="google" value="notranslate">
        <title>APT Jam</title>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="header-outer">
            <div class="header">
                <a href="/" class="title">APT Jam</a>
                <div class="menu">
                    <a href="/user">Profile</a>
                    <a href="/user/login">Sign in</a>
                    <a href="/user/logout">Sign out</a>
                </div>
            </div>
        </div>
        <div class="content-outer">
            <div class="content">        
{{ end }}

{{ define "foot"}}
    </body>
</html>
{{ end }}
