html {
	color: #222;
	
	background-color: white;
    
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    text-size-adjust: 100%;

}

html, body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

/* page layout */

.center {
	max-width: 50rem;
	margin: 0 auto;
}

.content {
	padding: 0.5rem 1rem;
	padding-top: 0.5rem;
}

/* current user */

.current-user-outer {
	background: #563d7c;
	color: #cdbfe3;

	box-shadow: 
		0 0.5rem 1rem rgba(0,0,0,.05), 
		inset 0 -1px 0 rgba(0,0,0,.1);
}
.current-user {
	padding: 0.25rem 0;
	text-align: right;
	font-weight: bold;
}
.current-user :first-child {
	padding-left: 0;
}
.current-user .link {
	min-width: 10rem;
	text-transform: lowercase;
	padding: 0 1.5rem;
	border-left: 2px solid #cdbfe3;
}
.current-user a:hover {
	color: #fff;
}

/* header */

.header-outer {
	background: #58783f;
	color: #d7f1c4;

	box-shadow: 
		0 0.5rem 1rem rgba(0,0,0,.05), 
		inset 0 -1px 0 rgba(0,0,0,.1);
}

.header {
	display: flex;
	align-items: center;
	font-weight: bold;
}
.header > .title {
	font-size: 1.5rem;
	width: 14.5rem;
	padding: 0.25rem 0;
	flex: 1;
}
.header > a {
	vertical-align: center;
	display: inline-block;
	text-decoration: none;
	padding: 1rem 1rem;
	font-size: 1rem;
	flex: 0;
}
.header a.active, .header a:hover {
	color: #fff;
}

/* menu */

.menu {}
.menu > a:visited {
	color: inherit;
}
.menu > * {
	vertical-align: center;

	display: inline-block;
	text-transform: lowercase;
	text-decoration: none;
	padding: 0.25rem 1rem;	
}

.menu > a.active {
	color: #fff;
	background: #0001a8;
}
.menu > a:hover {
	color: #000;
	background: #e7e7ec;
}

/* forms */

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.input, fieldset, input, select, textarea {
	padding: .5rem .6rem;
    margin-bottom: 1.5rem;
    font: inherit;
}

.input {
	background: #f0f0f0;
	border: 1px solid #dfdfdf;
	border-radius: 1px;
}

form {
	max-width: 50rem;
	margin: 0 auto;
}

select, input, textarea {
	width: 100%;
}
textarea {
	font-family: monospace;
}

fieldset {
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid #888;
}

fieldset > legend {
	font-size: 1.2rem;
	font-weight: 800;
}

.members input {
	margin-bottom: 0.25rem;
}

input[type=submit]{
	cursor: pointer;
	background: hsla(90, 70%, 80%, 1);
	font-size: 1.5rem;
	margin-top: 3rem;
    margin-bottom: 1.5rem;
}

/* sign in / out */

.logins {
	width: 10rem;
	margin: 0 auto;
}
.logins a {
	display: block;
	width: 10rem;
	
	padding: 0.5rem 0.5rem;
	margin-bottom: 1rem;

	text-decoration: none;

	color: #fff;
	background: #0001a8;
}
.logins a:hover {
	color: #fff;
	background: #ff0000;
}

/* event */

.event-link {
	display: flex;
	
	text-decoration: none;
	color: inherit;
	margin-bottom: 10px;
	border-radius: 2px;
	
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.event-link.ongoing {
	font-size: 1.5rem;

	color: #fff;
	background: #69904c;
}
.event-link > .title {
	flex: 1;
	padding: 0.5rem 1rem;
}
.event-link > .countdown {
	width: 12rem;
	padding: 0.5rem 1rem;
	text-align: center;

	background: #f0f0f0;
	color: #333;
}

.event-link:hover {
}
