{{ template "head" . }}
<section>
	<h1>{{ or .User.Name "User" }}</h1>
	<div>
		<div class="field">
			<label for="id">ID</label>
			<div class="input" name="id">{{or .User.ID}}&nbsp;</div>
		</div>

		<div class="field">
			<label for="name">Name</label>
			<div class="input" name="name">{{or .User.Name}}&nbsp;</div>
		</div>

		<div class="field">
			<label for="facebook">Facebook</label>
			<div class="input" name="facebook">{{or .User.Facebook}}&nbsp;</div>
		</div>

		<div class="field">
			<label for="github">Github</label>
			<div class="input" name="github">{{or .User.Github}}&nbsp;</div>
		</div>
	</div>
</section>
{{ template "foot" . }}