{{ template "head" . }}
<section>
	<div class="titlemenu">
		<h1>{{ or .User.Name "User" }}</h1>	
		{{ if (or .CurrentUser.IsAdmin (eq .CurrentUser.ID .User.ID))}}
		<a class="button" href="/user/{{.User.ID}}/edit">Edit</a>
		{{ end }}
	</div>

	<div>
		<div class="field">
			<label for="id">ID</label>
			<div class="input" name="id">{{.User.ID}}</div>
		</div>
	
		{{ if .User.Facebook }}
		<div class="field">
			<label for="facebook">Facebook</label>
			<a class="button" href="{{.User.Facebook}}" name="facebook">{{.User.Facebook}}</a>
		</div>
		{{ end }}

		{{ if .User.Github }}
		<div class="field">
			<label for="github">Github</label>
			<a class="button" href="{{.User.Github}}" name="github">{{.User.Github}}</a>
		</div>
		{{ end }}
	</div>
</section>
{{ template "foot" . }}