{{ template "head" . }}

{{ define "users-list"}}
{{ $isAdmin := Data.CurrentUser.IsAdmin }}
<table>
	<thead>
		<tr>
			{{ if $isAdmin}}
			<th style="width: 2.5rem;"></th>
			{{ end }}
			<th>Name</th>
			{{ if $isAdmin }}<th>Email</th> {{ end }}
		</tr>
	</thead>
	<tbody>
		{{ range .}}
		<tr>
			{{ if $isAdmin }}
			<td><a class="edit" href="/user/{{.ID}}/edit">edit</a></td>
			{{ end }}
			<td><a href="/user/{{.ID}}">{{ .Name }}</a></td>
			{{ if $isAdmin }}<td>{{ .Email }}</td>{{ end }}
		</tr>
		{{ end }}
	</tbody>
</table>
{{ end }}

<section>
	<h1>Users</h1>
	{{ template "users-list" .Users }}
</section>

{{ template "foot" . }}