{{ template "head" . }}

<section>
	<section style="float:right; margin: 1rem;">
		{{ if .VotingOpens }}
		<div>
			<h2>Voting Opens: </h2>
			{{ template "countdown" .VotingOpens }}
		</div>
		{{ end }}
		{{ if .VotingCloses }}
		<div>
			<h2>Voting Closes: </h2>
			{{ template "countdown" .VotingCloses }}
		</div>
		{{ end }}
	</section>

	<h1 style="color: #333; font-size: 1.6rem;">{{.Event.Name}}</h1>
	<h2 style="color: #333; font-size: 1.4rem;">{{.Event.Theme}}</h2>
	
	<div>
		{{ range (paragraphs .Event.Info) }}<p>{{.}}</p>{{ end }}
	</div>

	{{ if (or (not .Event.CanVote) (not (.Event.HasJammer .CurrentUser))) }}
	<div class="flashes">
		{{if (not .Event.Voting)}}
		<div class="flash">Voting has not yet started.</div>
		{{ else if .Event.Closed }}
		<div class="flash">Voting has closed.</div>
		{{ end }}

		{{ if not .CurrentUser }}
		<div class="flash">You are not signed in.</div>
		{{ else if (not (.Event.HasJammer .CurrentUser))}}
		<div class="flash">You have not been approved for this event.</div>
		{{ end }}
	</div>
	<br>
	<a class="button big disabled" href="#">Start Voting</a>
	{{ else }}
	<a class="button big" href="{{.Event.Path "fill-queue"}}">Start Voting</a>
	{{ end }}
</section>

{{ template "foot" . }}