{{ template "head" . }}

{{ $event := .Event }}

{{ define "team-progress" }}
<div>
	<p>{{.Team.Name}}</p>
	<p>{{.Pending}} | {{.Complete}} | {{Data.Target}}</p>
</div>
{{ end }}

<section>
	<div class="titlemenu">
		<h1>Voting Progress</h1>
	</div>

	<div class="progress">
		<div class="pending" style="width: {{ mul 100 (div .AveragePending Data.VoteTarget) }}%"></div>
		<div class="complete" style="width: {{ mul 100 (div .AverageComplete Data.VoteTarget) }}%"></div>
	</div>
	
	<table>
		<thead>
			<tr>
				<th>Team</th>
				<th>Game</th>
				<th>Progress</th>
			</tr>
		</thead>
		<tbody>
			{{ range .Progress }}
			{{ if .HasSubmitted }}
			<tr>
				<td><a href="{{$event.Path "team" .ID}}" title="{{.Name}}">{{ .Name }}</a></td>
				<td><span class="important" title="{{.Game.Name}}">{{ .Game.Name }}</span></td>
				<td class="progress">
					<div class="pending" style="width: {{ mul 100 (div .Pending Data.VoteMax) }}%"></div>
					<div class="complete" style="width: {{ mul 100 (div .Complete Data.VoteMax) }}%"></div>
					<div class="target" style="left: {{ mul 100 (div Data.VoteTarget Data.VoteMax) }}%"></div>
				</td>
			</tr>
			{{ else }}
			<tr class="not-submitted">
				<td><a href="{{$event.Path "team" .ID}}" title="{{.Name}}">{{ .Name }}</a></td>
				<td><span class="important" title="{{.Game.Name}}">{{ .Game.Name }}</span></td>
				<td class="boxed">Not submitted</td>
			</tr>
			{{ end }}
			{{ end }}
		</tbody>
	</table>
</section>

{{ template "foot" . }}