{{ template "head" . }}

{{ define "vote-fields" }}
<section>
	<div class="titlemenu">
		<h1>{{.Game.Name}}</h1>
		<span>By: {{.Name}}</span>
	</div>
	
	<a class="input button" {{if .Game.Link.Facebook}}target="_blank" href="{{.Game.Link.Facebook}}"{{end}}>{{.Game.Link.Facebook}}</a>
	<a class="input button" {{if .Game.Link.Jam}}target="_blank" href="{{.Game.Link.Jam}}"{{end}}>{{.Game.Link.Jam}}</a>
	{{if .Game.Info}}<div class="input" id="info">{{.Game.Info}}</div>{{end}}
	
	<form method="POST">
		<script>
			function UpdateSubmitButton(){
				var todos = document.getElementsByClassName("todo");
				if(todos.length == 0){
					var sub = document.getElementById("submit");
					sub.className = "";
					sub.disabled = false;
				}
			}
		</script>
		{{ $ballot := . }}
		{{ range $aspect := Data.Aspects }}
		<div class="aspect field">
			<div>
				<label for="{{$aspect.Name}}.Comment">{{$aspect.Name}}: <span class="tiny">{{$aspect.Description}}</span></label>
				<input id="{{$aspect.Name}}.Score" name="{{$aspect.Name}}.Score" type="range"min="{{$aspect.Min}}" max="{{$aspect.Max}}" step="{{$aspect.Step}}" value="{{$ballot.Score $aspect.Name}}">
				<div id="{{$aspect.Name}}.Score.Text" class="aspect-text todo">Change the score.</div>
			</div>
			<textarea id="{{$aspect.Name}}.Comment" name="{{$aspect.Name}}.Comment" rows="2" placeholder="Comments">{{$ballot.Comment $aspect.Name}}</textarea>
			<script>
				(function(){
					var range = document.getElementById("{{$aspect.Name}}.Score");
					var text = document.getElementById("{{$aspect.Name}}.Score.Text");
					var options = {{$aspect.Options}};

					range.addEventListener("input", function(){
						var value = parseFloat(range.value);
						var index = Math.round(value - {{$aspect.Min}});
						if(index < 0){ index = 0; }
						if(index >= options.length){ index = options.length-1; }

						text.innerText = value.toFixed(1) + ": " + options[index];
						text.className = "aspect-text";
						UpdateSubmitButton();
					});
				})()
			</script>
		</div>
		{{ end }}
		
		{{ if $ballot.Completed }}
		<!-- todo mark as completed -->
		{{ end }}

		<input id="submit" type="submit" class="disabled" disabled value="Vote">
	</form>
</section>
{{ end }}

{{ template "vote-fields" .Ballot }}

{{ template "foot" . }}