{{ template "head" . }}

<section>
	<div class="titlemenu">
		<h1>Team: {{ .Team.Name }}</h1>
		{{ if .CanEditTeam }}
		<a class="button" href="{{.Event.Path "team" .Team.ID "edit-entry"}}">Edit Entry</a>
		<a class="button" href="{{.Event.Path "team" .Team.ID "edit"}}">Edit</a>{{ end }}
	</div>

	<section>
		<h1>Entry</h1>
		
		{{ if .Team.Entry.Name }}
		<div class="field">
			<label for="name">Name</label>
			<div class="input" id="name" name="name">{{.Team.Entry.Name}}</div>
		</div>
	
		<div class="field">
			<label for="link">Link</label>
			<a class="input button" target="_blank" href="{{.Team.Entry.Link}}" name="link">{{.Team.Entry.Link}}</a>
		</div>
		<div class="field">
			<label for="info">Info</label>
			<div class="input" id="info" name="info">{{.Team.Entry.Info}}</div>
		</div>
		{{ else }}
		<div class="flashes">
			<div class="flash">Not yet submitted.</div>
		</div>
		{{ end }}
	</section>
	
	<section>
		<h1>Members</h1>
		{{ template "users-list" .Team.Members }}
	</section>
</section>

{{ template "foot" . }}