{{ template "head" . }}

{{ $event := .Event }}
<section>
	{{ if .Event.Closed }}
	<div class="flashes">
		<div class="flash">Voting is closed.</div>
	</div>
	{{ else }}
	<section>
		<h1>Queue</h1>
		
		{{ range .Queue }}
		<a class="button" href="{{ $event.Path "vote" .Team.ID }}">{{.Team.Game.Name}}</a>
		{{ end }}

		{{ if not .Queue }}
		<a class="button special" href="{{.Event.Path "fill-queue"}}">Moar Games Please</a>
		{{ end }}
	</section>
	{{ end }}
	
	<section style="margin-top: 6rem;">
		<h1>Votes</h1>
		<table>
			<thead>
				<tr>
					<th style="width: 2.5rem;"></th>
					<th>Team</th>
					<th>Game</th>
					<th style="width:5%; font-size: 0.7rem;" title="Theme">The</th>
					<th style="width:5%; font-size: 0.7rem;" title="Enjoyment">Enj</th>
					<th style="width:5%; font-size: 0.7rem;" title="Aesthetics">Aes</th>
					<th style="width:5%; font-size: 0.7rem;" title="Innovation">Inn</th>
					<th style="width:5%; font-size: 0.7rem;" title="Bonus">Bon</th>
					<th style="width:5%; font-size: 0.7rem;" title="Overall">Ove</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Completed }}
				<tr>
					{{ if Data.Event.Closed }}
					<td><a class="edit" href="{{ $event.Path "vote" .Team.ID }}">view</a></td>
					{{ else }}
					<td><a class="edit" href="{{ $event.Path "vote" .Team.ID }}">edit</a></td>
					{{ end }}
					<td><a href="{{ $event.Path "team" .Team.ID }}">{{.Name}}</a></td>
					<td>{{.Game.Name}}</td>
					<td title="{{.Ballot.Theme.Comment}}">{{.Ballot.Theme}}</td>
					<td title="{{.Ballot.Enjoyment.Comment}}">{{.Ballot.Enjoyment}}</td>
					<td title="{{.Ballot.Aesthetics.Comment}}">{{.Ballot.Aesthetics}}</td>
					<td title="{{.Ballot.Innovation.Comment}}">{{.Ballot.Innovation}}</td>
					<td title="{{.Ballot.Bonus.Comment}}">{{.Ballot.Bonus}}</td>
					<td class="important" title="{{.Ballot.Overall.Comment}}">{{.Ballot.Overall}}</td>
				</tr>
				{{ end }}
			</tbody>
		</table>
	</section>
</section>

{{ template "foot" . }}