{{ template "head" . }}

{{ $event := .Event }}
<section>
	<div class="titlemenu">
		<h1>Voting</h1>
	</div>

	<section>
		<h1>Queue</h1>
		
		<table>
			<thead>
				<tr>
					<th>Game</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Queue }}
				<tr>
					<td><a href="{{ $event.Path "vote" .Team.ID }}">{{.Team.Game.Name}}</a></td>
				</tr>
				{{ end }}
			</tbody>
		</table>

		<a class="button {{ if .QueueCompleted }}disabled{{end}}" href="{{.Event.Path "fill-queue"}}">Moar Games Please</a>
	</section>
	
	<section>
		<h1>Completed</h1>
		<table>
			<thead>
				<tr>
					<th>Team</th>
					<th>Game</th>
					<th style="width:5%; font-size: 0.7rem;" title="Theme">The</th>
					<th style="width:5%; font-size: 0.7rem;" title="Enjoyment">Enj</th>
					<th style="width:5%; font-size: 0.7rem;" title="Aesthetics">Aes</th>
					<th style="width:5%; font-size: 0.7rem;" title="Innovation">Inn</th>
					<th style="width:5%; font-size: 0.7rem;" title="Bonus">Bon</th>
					<th style="width:5%; font-size: 0.7rem;" title="Overall">Ove</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Completed }}
				<tr>
					<td><a href="{{ $event.Path "team" .Team.ID }}">{{.Name}}</a></td>
					<td><a class="important" href="{{ $event.Path "vote" .Team.ID }}">{{.Game.Name}}</a></td>
					<td title="{{.Ballot.Theme.Comment}}">{{.Ballot.Theme}}</td>
					<td title="{{.Ballot.Enjoyment.Comment}}">{{.Ballot.Enjoyment}}</td>
					<td title="{{.Ballot.Aesthetics.Comment}}">{{.Ballot.Aesthetics}}</td>
					<td title="{{.Ballot.Innovation.Comment}}">{{.Ballot.Innovation}}</td>
					<td title="{{.Ballot.Bonus.Comment}}">{{.Ballot.Bonus}}</td>
					<td title="{{.Ballot.Overall.Comment}}">{{.Ballot.Overall}}</td>
				</tr>
				{{ end }}
			</tbody>
		</table>
	</section>
</section>

{{ template "foot" . }}