{{ template "head" . }}

<section>
	<h1>Edit Event</h1>
	<form method="post">
		<div class="field">
			<label for="theme">Theme</label>
			<input type="text" id="theme" name="theme" value="{{.Event.Theme}}">
		</div>
		
		<div class="field">
			<input type="checkbox" id="registration" name="registration" value="true" {{ if .Event.Registration }}checked{{end}}>
			<label for="registration">Registration</label>
		</div>

		<div class="field">
			<input type="checkbox" id="voting" name="voting" value="true" {{ if .Event.Voting }}checked{{end}}>
			<label for="voting">Voting Open</label>
		</div>

		<div class="field">
			<input type="checkbox" id="closed" name="closed" value="true" {{ if .Event.Closed }}checked{{end}}>
			<label for="closed">Voting Closed</label>
		</div>

		<div class="field">
			<input type="checkbox" id="revealed" name="revealed" value="true" {{ if .Event.Revealed }}checked{{end}}>
			<label for="revealed">Votes Revealed</label>
		</div>
	
		<div class="field">
			<label for="info">Info</label>
			<textarea type="text" id="info" name="info" rows=15>{{.Event.Info}}</textarea>
		</div>

		<fieldset>
			<legend>Timers</legend>
			<div class="field">
				<label for="VotingOpens">Voting Opens</label>
				<input type="datetime-local" id="VotingOpens" name="VotingOpens" {{ if isValidTime .Event.VotingOpens}}value="{{.Event.VotingOpens.Format "2006-01-02T15:04"}}"{{end}}>
			</div>
			<div class="field">
				<label for="VotingCloses">Voting Closes</label>
				<input type="datetime-local" id="VotingCloses" name="VotingCloses" {{ if isValidTime .Event.VotingCloses}}value="{{.Event.VotingCloses.Format "2006-01-02T15:04"}}"{{end}}>
			</div>
		</fieldset>

		<input type="submit" value="Save">
	</form>
</section>

{{ template "foot" . }}