{{ template "head" . }}

{{ define "teams-list" }}
{{ $event := .Event }}
<section>
	<div class="titlemenu">
		<h1>{{if .YourTeams}}Your Team{{ if (gt (len .YourTeams) 1) }}s{{end}}{{end}}</h1>	
		<a class="button {{if not .YourTeams}}highlight{{end}} {{if .Event.Closed}}disabled{{end}}" href="{{.Event.Path "team" "create"}}">Create Team</a>
	</div>

	<div>
		{{ range .YourTeams }}
		<a class="button" href="{{$event.Path "team" .ID}}" title="{{.Name}}">{{ .Name }}</a>
		{{ end }}
	</div>
</section>

<section>
	<div class="titlemenu">
		<h1>All Teams</h1>
	</div>

	<table>
		{{ $isAdmin := .CurrentUser.IsAdmin }}
		<thead>
			<tr>
				{{ if $isAdmin }}<th style="width: 2%;"></th>{{ end }}
				<th>Team</th>
				<th>Game</th>
				<th style="width:2rem;"></th>
				<th style="width:2rem;"></th>
				<th style="width:2%; "></th>
				<th style="width:9%; max-width:8rem;">1</th>
				<th style="width:9%; max-width:8rem;">2</th>
				<th style="width:9%; max-width:8rem;">3</th>
				<th style="width:9%; max-width:8rem;">4</th>
				<th style="width:9%; max-width:8rem;">5</th>
				<th style="width:9%; max-width:8rem;">6</th>
			</tr>
		</thead>
		<tbody>
			{{ range .Teams }}
			<tr>
				{{ if $isAdmin }}
				<td><a class="edit icon" href="{{$event.Path "team" .ID "edit"}}">✏</a></td>
				{{ end }}
				<td><a class="important" href="{{$event.Path "team" .ID}}" title="{{.Name}}">{{ .Name }}</a></td>
				<td><span title="{{.Game.Name}}">{{ .Game.Name }}</span></td>
				
				<td>{{ if .Game.Link.Facebook}}<a class="no-clip" target="_blank" href="{{.Game.Link.Facebook}}" title="Facebook">FB</a>{{end}}</td>
				<td>{{ if .Game.Link.Jam}}<a class="no-clip" target="_blank" href="{{.Game.Link.Jam}}" title="Jam">Jam</a>{{end}}</td>

				<td><a class="icon" href="{{$event.Path "vote" .ID}}">🗳</a></td>

				{{ range .MembersWithEmpty }}
				{{ if .Name }}<td class="boxed" title="{{.Name}}">{{ .Name }}</td>{{ else }}<td class="boxed no-member"></td>{{ end }}
				{{ end }}
			</tr>
			{{ end }}
		</tbody>
	</table>
</section>
{{ end }}

{{ template "teams-list" . }}

{{ template "foot" . }}