{{ template "head" . }}

{{ define "teams-list" }}
{{ $event := .Event }}
<section>
	<div class="titlemenu">
		<h1>Your Team</h1>	
		<a class="button {{if not .YourTeams}}highlight{{end}} {{if .Event.Closed}}disabled{{end}}" href="{{.Event.Path "team" "create"}}">Create Team</a>
	</div>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Game</th>
				<th style="width:9%;">1</th>
				<th style="width:9%;">2</th>
				<th style="width:9%;">3</th>
				<th style="width:9%;">4</th>
				<th style="width:9%;">5</th>
			</tr>
		</thead>
		<tbody>
			{{ range .YourTeams }}
			<tr>
				<td><a class="important" href="{{$event.Path "team" .ID}}" title="{{.Name}}">{{ .Name }}</a></td>
				<td>{{ if .Game.Name}}<a {{ if .Game.Link }}target="_blank" href="{{.Game.Link}}"{{ end }} title="{{.Game.Name}}">{{ .Game.Name }}</a>{{end}}</td>
				{{ range .MembersWithEmpty }}
				{{ if .Name }}<td class="boxed" title="{{.Name}}">{{ .Name }}</td>{{ else }}<td class="boxed no-member"></td>{{ end }}
				{{ end }}
			</tr>
			{{ end }}
		</tbody>
	</table>
</section>

<section>
	<div class="titlemenu">
		<h1>All Teams</h1>
	</div>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Game</th>
				<th style="width:7%;">1</th>
				<th style="width:7%;">2</th>
				<th style="width:7%;">3</th>
				<th style="width:7%;">4</th>
				<th style="width:7%;">5</th>
			</tr>
		</thead>
		<tbody>
			{{ range .Teams }}
			<tr>
				<td><a class="important" href="{{$event.Path "team" .ID}}" title="{{.Name}}">{{ .Name }}</a></td>
				<td>{{ if .Game.Name}}<a {{ if .Game.Link }}target="_blank" href="{{.Game.Link}}"{{ end }} title="{{.Game.Name}}">{{ .Game.Name }}</a>{{end}}</td>
				{{ range .MembersWithEmpty }}
				{{ if .Name }}<td class="boxed" title="{{.Name}}">{{ .Name }}</td>{{ else }}<td class="boxed no-member"></td>{{ end }}
				{{ end }}
			</tr>
			{{ end }}
		</tbody>
	</table>
</section>
{{ end }}

{{ template "teams-list" . }}

{{ template "foot" . }}