{{ template "head" . }}

{{ define "teams-list" }}
{{ $event := .Event }}
<section>
	<div class="titlemenu">
		<h1>Your Team</h1>	
		<a class="button {{if not .YourTeams}}highlight{{end}}" href="{{.Event.Path "team" "create"}}">Create Team</a>
	</div>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Member 1</th>
				<th>Member 2</th>
				<th>Member 3</th>
				<th>Member 4</th>
				<th>Member 5</th>
			</tr>
		</thead>
		<tbody>
			{{ range .YourTeams }}
			<tr>
				<td><a class="important" href="{{$event.Path "team" .ID}}">{{ .Name }}</a></td>
				{{ range .Members }}
				<td>{{ .Name }}</td>
				{{ end }}
			</tr>
			{{ end }}
		</tbody>
	</table>
</section>

<section>
	<div class="titlemenu">
		<h1>All Teams</h1>
	</div>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Member 1</th>
				<th>Member 2</th>
				<th>Member 3</th>
				<th>Member 4</th>
				<th>Member 5</th>
			</tr>
		</thead>
		<tbody>
			{{ range .Teams }}
			<tr>
				<td><a class="important" href="{{$event.Path "team" .ID}}">{{ .Name }}</a></td>
				{{ range .Members }}
				<td>{{ .Name }}</td>
				{{ end }}
			</tr>
			{{ end }}
		</tbody>
	</table>
</section>
{{ end }}

{{ template "teams-list" . }}

{{ template "foot" . }}