{{ template "head" . }}

{{ define "event-links" }}
{{ range . }}
<a class="button" href="{{ .Path }}"><div class="title">{{.Name}}</div></a>
{{ end }}
{{ end }}

<section>
	<div class="titlemenu">
		<h1>Events</h1>	
		{{ if .CurrentUser.IsAdmin }}
		<a class="button" href="/event/create">Create Event</a>
		{{ end }}
	</div>
	
	{{ with $events := .Events.Voting }}
	<div>
		<h2>Voting</h2>
		{{ template "event-links" $events }}
	</div>
	{{ end }}

	{{ with $events := .Events.Started }}
	<div></div>
		<h2>Started</h2>
		{{ template "event-links" $events }}
	</div>
	{{ end }}

	{{ with $events := .Events.Finished }}
	<div>
		<h2>Finished</h2>	
		{{ template "event-links" $events }}
	</div>
	{{ end }}
</section>

{{ template "foot" . }}