{{ template "head" . }}

<section>
	<h1>Team: {{.Team.Name}}</h1>
	<form method="POST">		
		<div class="field">
			<label class="randomizer" id="name-randomize" for="name"><span>Team Name</span></label>
			<script>
				document.getElementById("name-randomize").addEventListener("click", function(event){
					event.preventDefault();
					event.stopPropagation();

					var el = document.getElementById("name");
					el.value = GenerateTeamName();
				});
			</script>
			<input type="text" id="name" name="name" value="{{.Team.Name}}">
		</div>
		
		<div class="field">
			<label>Members</label>

			<datalist id="users">
				{{ range .Users }}
				<option value="{{.Name}}">{{.ID}}</option>
				{{ end }}
			</datalist>
		
			{{ range $i, $member := .Team.MembersWithEmpty }}
			<input type="text" class="tight" name="member[{{$i}}]" list="users" placeholder="Member {{ $i }}" value="{{$member.Name}}">
			{{ end }}
		</div>

		<input type="submit" value="Save">
	</form>
</section>

{{ template "foot" . }}