{{ template "head" . }}

<section>
	<div class="titlemenu">
		<h1>Team: {{ .Team.Name }}</h1>
		{{ if .CanEditTeam }}
		<a class="button" href="{{.Event.Path "team" .Team.ID "edit"}}">Edit</a>
		{{ end }}
	</div>

	<div class="side-by-side">
		<div>
			<div class="field">
				<label for="Team.Name"><span>Team Name</span></label>
				<div class="input" id="Team.Name" name="Team.Name">{{.Team.Name}}</div>
			</div>

			<div class="field">
				<label>Members</label>

				{{ range .Team.Members }}
				<div><a {{if .ID}}class="button" href="/user/{{.ID}}"{{else}}class="button disabled-minimal"{{end}}>{{ .Name }}</a></div>
				{{ end }}
			</div>
		</div>
		<div>
			<div class="field">
				<label for="Team.Game.Name"><span>Game Name</span></label>
				<div class="input" id="Team.Game.Name">{{.Team.Game.Name}}</div>
			</div>

			<div class="field">
				<label for="Team.Game.Info">Info</label>
				<div class="input" id="Team.Game.Info" rows=4>{{range paragraphs .Team.Game.Info}}<p>{{.}}</p>{{end}}</div>
			</div>
			
			{{ if .Team.Game.Link.Facebook }}
			<div class="field">
				<label for="Team.Game.Link.Facebook">Facebook</label>
				<a class="button" href="{{.Team.Game.Link.Facebook}}" id="Team.Game.Link.Facebook" >{{.Team.Game.Link.Facebook}}</a>
			</div>
			{{ end }}

			{{ if .Team.Game.Link.Jam}}
			<div class="field">
				<label for="Team.Game.Link.Jam">Jam Page</label>
				<a class="button" href="{{.Team.Game.Link.Jam}}" id="Team.Game.Link.Jam" >{{.Team.Game.Link.Jam}}</a>
			</div>
			{{ end }}
		</div>
	</div>
</section>

{{ template "foot" . }}