{{ template "head" . }}

<section>
	<h1>Create Event</h1>
	<form method="post">
		<div class="field">
			<label for="name">Name</label>
			<input type="text" id="name" name="name">
		</div>

		<div class="field">
			<label for="slug">Slug</label>
			<input type="text" id="slug" name="slug">
		</div>

		<div class="field">
			<label for="info">Info</label>
			<textarea type="text" id="info" name="info" rows=4></textarea>
		</div>

		<input type="submit" value="Create">
	</form>
</section>

{{ template "foot" . }}