{{ template "head" . }}

<section>
	<h1>Edit Team: {{.Team.Name}}</h1>
	<form method="post">
		<div class="field">
			<label for="name">Team Name</label>
			<input type="text" id="name" name="name" value="{{.Team.Name}}">
		</div>
		<div class="field">
			<label>Members</label>

			<datalist id="users">
				{{ range .Users }}
				<option value="{{.Name}}">{{.ID}}</option>
				{{ end }}
			</datalist>
		
			{{ range $i, $member := .Team.MembersWithEmpty }}
			<input type="text" class="tight" name="member[{{$i}}]" list="users" placeholder="Member {{ $i }}" value="{{$member.Name}}">
			{{ end }}
		</div>

		<input type="submit" value="Save">
	</form>
</section>

{{ template "foot" . }}