{{ template "head" . }}

{{ $event := .Event }}
<section>
	<div class="reveal">
<style>
	
</style>
		{{ range $index, $result := .Results }}
		<div class="place-container place-container-{{$index}}">
			<div class="place-number">#{{add 1 $index}}</div>
			<div class="place-info">
				<div class="game"><a href="{{ $event.Path "team" .Team.ID }}">{{.Game.Name}}</a></div>
				<div class="members">
					<div class="team">{{.Name}}</div>
					{{ range $member := .Members }}
					<div class="member">{{$member.Name}}</div>
					{{ end }}
				</div>
				<div class="place-score">{{printf "%.3f" .Average.Overall.Score}}</div>
				<div class="overlay"></div>
			</div>
		</div>
		{{ end }}

		<script>
			var places = document.getElementsByClassName("place-container");
			for(var i = 0; i < places.length; i++){
				(function(place){
					var overlay = place.getElementsByClassName("overlay")[0];
					overlay.addEventListener("click", function(){
						overlay.className += " show"
					});
				})(places[i]);
			}
		</script>
	</div>
</section>

{{ template "foot" . }}