{{ template "head" . }}
<section>
	<div class="titlemenu mb-16">
		<h1>{{ or .User.Name "User" }}</h1>
		{{ if .User.HasEditor .CurrentUser }}
		<a class="btn btn-outline btn-sm" href="/user/{{.User.ID}}/edit">Edit</a>
		{{ end }}
	</div>

	<div class="card mb-32">
		<div class="field">
			<label>Name</label>
			<div class="text-muted">{{.User.Name}}</div>
		</div>

		{{ if .CurrentUser.IsAdmin }}
		<div class="field">
			<label>Email</label>
			<div class="text-muted">{{.User.Email}}</div>
		</div>
		{{ end }}

		{{ if .User.Facebook }}
		<div class="field">
			<label>Facebook</label>
			<a class="no-link" href="{{.User.Facebook}}">{{.User.Facebook}}</a>
		</div>
		{{ end }}

		{{ if .User.Github }}
		<div class="field">
			<label>Github</label>
			<a class="no-link" href="{{.User.Github}}">{{.User.Github}}</a>
		</div>
		{{ end }}
	</div>

	<section>
		<h2 class="section-label-line section-label mb-16">Teams</h2>

		<div class="table-wrap">
			<table>
				<thead>
					<tr>
						<th>Event</th>
						<th>Team</th>
						<th>Game</th>
					</tr>
				</thead>
				<tbody>
					{{ range .Teams }}
					<tr>
						<td><a href="{{.Event.Path}}" title="{{.Event.Name}}">{{ .Event.Name }}</a></td>
						<td><a href="{{.Event.Path "team" .Team.ID }}" title="{{.Name}}">{{ .Name }}</a></td>
						<td><strong title="{{.Game.Name}}">{{ .Game.Name }}</strong></td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</section>
</section>
{{ template "foot" . }}
