{{ template "head" . }}
<section>
	<div class="section-header">
		<h1>Edit: {{ .User.Name }}</h1>
	</div>

	<div class="card">
		<form method="post">
			<div class="field">
				<label for="name">Full Name</label>
				<input type="text" id="name" name="name" class="form-input" value="{{ .User.Name }}">
			</div>

			<div class="field">
				<label for="email">Email</label>
				<input type="text" id="email" name="email" class="form-input" value="{{ .User.Email }}">
			</div>

			<div class="field">
				<label for="facebook">Facebook</label>
				<input type="text" id="facebook" name="facebook" class="form-input" value="{{ .User.Facebook }}">
			</div>

			<div class="field">
				<label for="github">Github</label>
				<input type="text" id="github" name="github" class="form-input" value="{{ .User.Github }}">
			</div>

			{{ if .CurrentUser.IsAdmin }}
			<div class="field">
				<input type="checkbox" id="admin" name="admin" value="true" {{ if .User.Admin }}checked{{end}}>
				<label for="admin">Admin</label>
			</div>
			{{ end }}

			<input type="submit" value="Save">
		</form>
	</div>
</section>
{{ template "foot" . }}
